/* .sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 20%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
} */

.center{
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 60%;
  bottom: 0;
  top: 0;
  padding: 0;
  margin-top: 5%;
}

div.polaroid {
  width: 80%;
  top: 10%;,
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
  height: 85%;

  margin-bottom: 10%;

}
div.polaroid:hover{
  padding:6px;

}

div.container {
  text-align: center;
  padding: 10px 20px;
}

li{
display: block;,
}

img{
  width: 100%;

}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #f1f1f1;
  overflow: hidden;
  width:100%;
  left: 0px ;
  position: fixed;
  top:0
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #60B4BD;
  color: black;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #4CAF50;
  color: white;
} */


div.sidenav {
  list-style-type: block;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 93.2%;
  overflow: auto;
  left:0;
  bottom:0;
}

div.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

 div.sidenav li a.active {
  background-color: #4CAF50;
  /* color: white; */
}

div.sidenav li a:hover:not(.active) {
  background-color: #60B4BD;
  color: white;
}

ul{
  padding:0;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;

  }

  div.sidenav li a {
    float: left;
    padding: 15px;
  }



@media screen and (max-width: 400px) {
  div.sidenav li a {
    text-align: center;
    float: none;
  }
}
